<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants>
		<grant name="list" default="guest">
			<title xml:lang="ko">목록</title>
		</grant>
		<grant name="view" default="guest">
			<title xml:lang="ko">보기</title>
		</grant>
		<grant name="write" default="guest">
			<title xml:lang="ko">입력</title>
		</grant>
		<grant name="delete" default="guest">
			<title xml:lang="ko">삭제</title>
		</grant>
	</grants>
	<permissions>
		<permission action="dispBookAdminList" target="manager" />
		<permission action="dispBookAdminInfoBook" target="manager" />
		<permission action="dispBookAdminInsertBook" target="manager" />
		<permission action="dispBookAdminDeleteBook" target="manager" />
		<permission action="dispBookAdminGrantInfo" target="manager" />
		<permission action="dispBookAdminSkinInfo" target="manager" />
		
		<permission action="procBookAdminInsertBook" target="manager" />
		<permission action="procBookAdminDeleteBook" target="manager" />
	</permissions>
	
	<actions>
		<action name="dispBookContentList" type="view" index="true" />
		<action name="dispBookContentView" type="view" />
		<action name="dispBookContentWrite" type="view" />
		<action name="dispBookContentDelete" type="view" />
		<action name="dispBookMessage" type="view" />
		
		<action name="procBookContentWrite" type="controller" />
		<action name="procBookContentDelete" type="controller" />
		
		<action name="dispBookAdminList" type="view" standalone="true" admin_index="true" />
		<action name="dispBookAdminInfoBook" type="view" standalone="true" />
		<action name="dispBookAdminInsertBook" type="view" standalone="true" />
		<action name="dispBookAdminDeleteBook" type="view" standalone="true" />
		<action name="dispBookAdminGrantInfo" type="view" standalone="true" />
		<action name="dispBookAdminSkinInfo" type="view" standalone="true" />
		
		<action name="procBookAdminInsertBook" type="controller" standalone="true" />
		<action name="procBookAdminDeleteBook" type="controller" standalone="true" />
	</actions>
</module>