<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants>
		<grant name="view" default="guest">
			<title xml:lang="ko">글 보고 읽기 권한</title>
		</grant>
		<grant name="write" default="guest">
			<title xml:lang="ko">주제 등록 권한</title>
		</grant>
		<grant name="request" default="guest">
			<title xml:lang="ko">주제 요청 권한</title>
		</grant>
    </grants>
    <permissions>
    </permissions>
    <actions>
        <action name="dispHiswikiAdminModuleList" type="view" standalone="true" admin_index="true" />
        <action name="dispHiswikiAdminModuleInsert" type="view" standalone="true" />
        <action name="dispHiswikiAdminModuleDelete" type="view" standalone="true"/>
        <action name="dispHiswikiAdminModuleInfo" type="view" standalone="true"/>
        <action name="dispHiswikiAdminGrantInfo" type="view" standalone="true"/>
        <action name="dispHiswikiAdminSkinInfo" type="view" standalone="true"/>
        <action name="dispHiswikiAdminGrantInfo" type="view" standalone="true" />
        <action name="dispHiswikiAdminCategoryInfo" type="view" standalone="true" />
        <action name="dispHiswikiTopicWrite" type="view" standalone="true" />
        
  		<action name="procHiswikiAdminModuleInsert" type="controller" standalone="true" />
        <action name="procHiswikiAdminModuleDelete" type="controller" standalone="true" />
        <action name="procHiswikiTopicWrite" type="controller" standalone="true" />

        <action name="dispHiswikiFrontPage" type="view" standalone="true" index="true" />
        <action name="dispHiswikiContentList" type="view" standalone="true" />
        <action name="dispHiswikiCategory" type="view" standalone="true" />
        <action name="dispHiswikiMessage" type="view" standalone="true" />
        <action name="dispHiswikiSearchPage" type="view" standalone="true" />
        <action name="dispHiswikiModifyFrontPage" type="view" standalone="true" />
        <action name="dispHiswikiSearchResult" type="view" standalone="true" />
        
        <action name="procHiswikiModifyFrontPage" type="controller" standalone="true" />
        <action name="dispHiswikiAdminTopicDelete" type="view" standalone="true" />
        <action name="procHiswikiAdminTopicDelete" type="controller" standalone="true" />
        <action name="dispHiswikiTopicList" type="view" standalone="true" />
        <action name="dispHiswikiTopicView" type="view" standalone="true" />
        <action name="procHiswikiTopicView" type="controller" standalone="true" />
        <action name="_insertHiswikiDoc" type="controller" standalone="true" />
        <action name="_modifyHiswikiDoc" type="controller" standalone="true" />
        <action name="_deleteHiswikiDoc" type="controller" standalone="true" />
    </actions>
	<menus>
	</menus>
</module>
