@CHARSET "UTF-8";
<!--현희-->
#write_page .write {
	
	width:100%;
	height: 200px;
	margin: 0px;
	verflow: hidden;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: rgb(195, 195, 195);
	background-image: none;
	background-color: transparent;
	float: left;
	
	
}


#write_page .write .title{
	width:100px;
}
#topic_view .document_view .title{
	font-size:12pt;
}